<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Automation Test Suite" parallel="false">
    <test name="Regression Tests">
        <classes>
            <class name="TestExecution.TestCase_1"/>
            <!-- Add more test classes here -->
        </classes>
    </test>
</suite>